/* Write your CSS here */
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e293b;
  height: 100vh;
}

h1 {
  color: #f0bb03;
  font-family: 'Bree Serif';
}

p {
  color: #ffffff;
  font-family: 'bree serif';
}
